In [104]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [105]:
df = pd.read_csv('MotorInsuranceFraudClaimABTFull.csv')
df

,ID,Insurance Type,Income of Policy Holder,Marital Status,Num Claimants,Injury Type,Overnight Hospital Stay,Claim Amount,Total Claimed,Num Claims,Num Soft Tissue,% Soft Tissue,Claim Amount Received,Fraud Flag
0,1,CI,0,NaN,2,Soft Tissue,No,1625,3250,2,2.0,1.000000,0,1
1,2,CI,0,NaN,2,Back,Yes,15028,60112,1,0.0,0.000000,15028,0
2,3,CI,54613,Married,1,Broken Limb,No,-99999,0,0,0.0,0.000000,572,0
3,4,CI,0,NaN,3,Serious,Yes,270200,0,0,0.0,0.000000,270200,0
4,5,CI,0,NaN,4,Soft Tissue,No,8869,0,0,0.0,0.000000,0,1
5,6,CI,0,NaN,1,Broken Limb,Yes,17480,0,0,0.0,0.000000,17480,0
6,7,CI,52567,Single,3,Broken Limb,No,3017,18102,2,1.0,0.500000,0,1
7,8,CI,0,NaN,2,Back,Yes,7463,0,0,0.0,0.000000,7463,0
8,9,CI,0,NaN,1,Soft Tissue,No,2067,0,0,NaN,0.000000,2067,0
9,10,CI,42300,Married,4,Back,No,2260,0,0,0.0,0.000000,2260,0
10,11,CI,0,NaN,3,Soft Tissue,No,3481,31329,3,2.0,0.666667,0,1
11,12,CI,0,NaN,1,Broken Limb,No,3640,18200,5,0.0,0.000000,0,1
12,13,CI,0,NaN,4,Soft Tissue,No,858,0,0,0.0,0.000000,858,0
13,14,CI,0,NaN,3,Serious,Yes,71940,0,0,0.0,0.000000,71940,0
14,15,CI,50654,Married,2,Soft Tissue,No,1893,5679,4,3.0,0.750000,0,1
15,16,CI,0,NaN,1,Broken Limb,Yes,16822,0,0,0.0,0.000000,16822,0
16,17,CI,0,NaN,4,Back,Yes,12030,0,0,0.0,0.000000,12030,0
17,18,CI,0,NaN,2,Broken Limb,No,1943,7772,1,1.0,1.000000,1943,0
18,19,CI,37435,Divorced,2,Back,No,3071,6142,2,0.0,0.000000,3071,0
19,20,CI,0,NaN,3,Soft Tissue,No,638,5742,3,3.0,1.000000,0,1
20,21,CI,0,NaN,2,Back,Yes,37416,37416,1,0.0,0.000000,37416,0
21,22,CI,0,NaN,3,Back,No,8688,729792,56,5.0,0.089286,8688,0
22,23,CI,0,NaN,1,Broken Limb,Yes,12185,0,0,0.0,0.000000,0,1
23,24,CI,0,NaN,1,Soft Tissue,No,1081,0,2,0.0,0.000000,1081,0
24,25,CI,0,NaN,1,Serious,Yes,72000,144000,1,0.0,0.000000,72000,0
25,26,CI,0,NaN,2,Soft Tissue,No,2390,0,0,0.0,0.000000,0,1
26,27,CI,0,NaN,3,Broken Limb,Yes,7193,0,0,NaN,0.000000,7193,0
27,28,CI,38179,Single,2,Back,No,5212,10424,1,0.0,0.000000,5212,0
28,29,CI,0,NaN,4,Soft Tissue,No,627,2508,4,2.0,0.500000,0,1
29,30,CI,0,NaN,2,Broken Limb,No,2516,0,0,0.0,0.000000,2516,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,471,CI,0,NaN,1,Soft Tissue,No,83756,1693,1,0.0,0.000000,83756,0
471,472,CI,0,NaN,2,Back,No,6487,0,0,0.0,0.000000,5359,0
472,473,CI,51570,Single,1,Broken Limb,No,28953,0,0,0.0,0.000000,28953,0
473,474,CI,0,NaN,1,Soft Tissue,No,7330,0,0,0.0,0.000000,12917,0
474,475,CI,52665,Married,2,Serious,Yes,3160,0,0,0.0,0.000000,3160,0
475,476,CI,43162,Married,1,Soft Tissue,Yes,6473,0,0,0.0,0.000000,0,1
476,477,CI,0,NaN,1,Back,Yes,9722,6959,4,0.0,0.000000,9722,0
477,478,CI,0,NaN,2,Back,Yes,5658,0,0,0.0,0.000000,5658,0
478,479,CI,34820,Married,2,Broken Limb,No,4435,0,0,0.0,0.000000,0,1
479,480,CI,0,NaN,1,Broken Limb,No,33739,10608,1,NaN,0.000000,33739,0
480,481,CI,0,NaN,2,Soft Tissue,No,38699,0,0,0.0,0.000000,0,1
481,482,CI,0,NaN,1,Broken Limb,No,15736,0,0,0.0,0.000000,15736,0
482,483,CI,41333,Single,1,Back,No,9899,0,0,0.0,0.000000,10646,0
483,484,CI,0,NaN,2,Serious,Yes,6110,0,0,0.0,0.000000,0,1
484,485,CI,0,NaN,3,Broken Limb,No,2698,0,0,0.0,0.000000,0,1
485,486,CI,0,NaN,2,Soft Tissue,No,2334,6006,1,0.0,0.000000,1353,0
486,487,CI,0,NaN,2,Broken Limb,No,2791,0,0,0.0,0.000000,2791,0
487,488,CI,0,NaN,1,Back,No,467,0,0,0.0,0.000000,467,0
488,489,CI,41381,Married,1,Back,No,5391,0,0,0.0,0.000000,5391,0
489,490,CI,34756,Divorced,1,Soft Tissue,No,2122,0,0,0.0,0.000000,0,1
490,491,CI,40204,Single,1,Back,No,75748,11116,1,0.0,0.000000,0,1
491,492,CI,0,NaN,1,Broken Limb,No,6172,6041,1,0.0,0.000000,6172,0
492,493,CI,0,NaN,1,Soft Tissue,Yes,2569,20055,1,NaN,0.000000,2569,0
493,494,CI,31951,Married,1,Broken Limb,No,5227,22095,1,0.0,0.000000,5227,0
494,495,CI,0,NaN,2,Back,No,3813,9882,3,0.0,0.000000,0,1
495,496,CI,0,NaN,1,Soft Tissue,No,2118,0,0,0.0,0.000000,0,1
496,497,CI,29280,Married,4,Broken Limb,Yes,3199,0,0,NaN,0.000000,0,1
497,498,CI,0,NaN,1,Broken Limb,Yes,32469,0,0,0.0,0.000000,16763,0
498,499,CI,46683,Married,1,Broken Limb,No,179448,0,0,0.0,0.000000,179448,0
499,500,CI,0,NaN,1,Broken Limb,No,8259,0,0,0.0,0.000000,0,1

In [106]:
df.shape

(500, 14)

In [107]:
df.shape[0:]

(500, 14)

In [108]:
df.head(6)

,ID,Insurance Type,Income of Policy Holder,Marital Status,Num Claimants,Injury Type,Overnight Hospital Stay,Claim Amount,Total Claimed,Num Claims,Num Soft Tissue,% Soft Tissue,Claim Amount Received,Fraud Flag
0,1,CI,0,NaN,2,Soft Tissue,No,1625,3250,2,2.0,1.0,0,1
1,2,CI,0,NaN,2,Back,Yes,15028,60112,1,0.0,0.0,15028,0
2,3,CI,54613,Married,1,Broken Limb,No,-99999,0,0,0.0,0.0,572,0
3,4,CI,0,NaN,3,Serious,Yes,270200,0,0,0.0,0.0,270200,0
4,5,CI,0,NaN,4,Soft Tissue,No,8869,0,0,0.0,0.0,0,1
5,6,CI,0,NaN,1,Broken Limb,Yes,17480,0,0,0.0,0.0,17480,0

In [109]:
df.dtypes

ID                           int64
Insurance Type              object
Income of Policy Holder      int64
Marital Status              object
Num Claimants                int64
Injury Type                 object
Overnight Hospital Stay     object
Claim Amount                 int64
Total Claimed                int64
Num Claims                   int64
Num Soft Tissue            float64
% Soft Tissue              float64
Claim Amount Received        int64
Fraud Flag                   int64
dtype: object

In [110]:
df.describe()

,ID,Income of Policy Holder,Num Claimants,Claim Amount,Total Claimed,Num Claims,Num Soft Tissue,% Soft Tissue,Claim Amount Received,Fraud Flag
count,500.000000,500.000000,500.000000,500.00000,500.00000,500.000000,490.000000,500.000000,500.000000,500.000000
mean,250.500000,13739.994000,1.908000,16373.20400,9597.18600,0.798000,0.234694,0.172012,13051.942000,0.336000
std,144.481833,20081.535489,1.012713,29426.27696,35655.68622,2.666724,0.589635,0.428015,30547.194864,0.472812
min,1.000000,0.000000,1.000000,-99999.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,125.750000,0.000000,1.000000,3322.25000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,250.500000,0.000000,2.000000,5663.00000,0.00000,0.000000,0.000000,0.000000,3253.500000,0.000000
75%,375.250000,33918.500000,3.000000,12245.50000,11282.75000,1.000000,0.000000,0.000000,8191.750000,1.000000
max,500.000000,71284.000000,4.000000,270200.00000,729792.00000,56.000000,5.000000,2.000000,295303.000000,1.000000

In [111]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,500.0,250.500000,144.481833,1.0,125.75,250.5,375.25,500.0
Income of Policy Holder,500.0,13739.994000,20081.535489,0.0,0.00,0.0,33918.50,71284.0
Num Claimants,500.0,1.908000,1.012713,1.0,1.00,2.0,3.00,4.0
Claim Amount,500.0,16373.204000,29426.276960,-99999.0,3322.25,5663.0,12245.50,270200.0
Total Claimed,500.0,9597.186000,35655.686220,0.0,0.00,0.0,11282.75,729792.0
Num Claims,500.0,0.798000,2.666724,0.0,0.00,0.0,1.00,56.0
Num Soft Tissue,490.0,0.234694,0.589635,0.0,0.00,0.0,0.00,5.0
% Soft Tissue,500.0,0.172012,0.428015,0.0,0.00,0.0,0.00,2.0
Claim Amount Received,500.0,13051.942000,30547.194864,0.0,0.00,3253.5,8191.75,295303.0
Fraud Flag,500.0,0.336000,0.472812,0.0,0.00,0.0,1.00,1.0

In [112]:
numericColumns = df.select_dtypes(['int64', 'float64']).columns
numericColumns

Index(['ID', 'Income of Policy Holder', 'Num Claimants', 'Claim Amount',
       'Total Claimed', 'Num Claims', 'Num Soft Tissue', '% Soft Tissue',
       'Claim Amount Received', 'Fraud Flag'],
      dtype='object')

In [113]:
stringColumns = df.select_dtypes(['object']).columns
stringColumns

Index(['Insurance Type ', 'Marital Status', 'Injury Type',
       'Overnight Hospital Stay'],
      dtype='object')

In [114]:
df['ID'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500])

In [115]:
len(df['ID'].unique())

500

In [116]:
print('Feature, UniqueValues')
for column in numericColumns:
    print(column + ',' + str(len(df[column].unique())))

Feature, UniqueValues
ID,500
Income of Policy Holder,171
Num Claimants,4
Claim Amount,493
Total Claimed,235
Num Claims,7
Num Soft Tissue,6
% Soft Tissue,9
Claim Amount Received,329
Fraud Flag,2

In [117]:
df['Income of Policy Holder'].unique()

array([    0, 54613, 52567, 42300, 50654, 37435, 38179, 42239, 37001,
       48898, 35139, 42575, 45351, 57509, 30294, 35469, 32366, 51016,
       49844, 42780, 23850, 53109, 52319, 26422, 40461, 42380, 21796,
       29510, 43015, 40913, 46636, 46891, 46308, 38813, 37478, 51974,
       28040, 36260, 58424, 67936, 51479, 48510, 44548, 41849, 27371,
       33548, 31490, 40449, 38295, 40826, 43071, 45780, 65163, 18842,
       36044, 27888, 43090, 30062, 43555, 47420, 34363, 39926, 59495,
       27903, 24998, 38772, 50922, 58472, 19866, 25124, 30248, 51522,
       31854, 56266, 57462, 42236, 43005, 51233, 38384, 36785, 36652,
       33785, 48005, 46377, 31829, 44205, 32000, 52000, 71284, 35810,
       32932, 28034, 49937, 34319, 51826, 22799, 36557, 68152, 46365,
       53440, 33567, 43455, 46264, 38082, 44603, 30438, 42147, 39940,
       43164, 35994, 54897, 43003, 26115, 29508, 43270, 36370, 39623,
       26336, 35637, 47180, 19192, 16730, 29419, 42935, 40340, 43267,
       30675, 39912, 35613, 24029, 27585, 37667, 46921, 41062, 29281,
       31012, 54092, 27573, 37377, 39253, 40285, 53764, 54253, 49071,
       35239, 32512, 42855, 25584, 41622, 37956, 39741, 40811, 17455,
       35857, 54500, 48176, 47371, 42768, 49491, 26165, 51570, 52665,
       43162, 34820, 41333, 41381, 34756, 40204, 31951, 29280, 46683])

In [118]:
df.isnull().sum()

ID                           0
Insurance Type               0
Income of Policy Holder      0
Marital Status             330
Num Claimants                0
Injury Type                  0
Overnight Hospital Stay      0
Claim Amount                 0
Total Claimed                0
Num Claims                   0
Num Soft Tissue             10
% Soft Tissue                0
Claim Amount Received        0
Fraud Flag                   0
dtype: int64

In [119]:
df[numericColumns].isnull().sum()

ID                          0
Income of Policy Holder     0
Num Claimants               0
Claim Amount                0
Total Claimed               0
Num Claims                  0
Num Soft Tissue            10
% Soft Tissue               0
Claim Amount Received       0
Fraud Flag                  0
dtype: int64

In [120]:
df[stringColumns].isnull().sum()

Insurance Type               0
Marital Status             330
Injury Type                  0
Overnight Hospital Stay      0
dtype: int64

In [121]:
objectColumns = df.select_dtypes(['object']).columns
objectColumns

Index(['Insurance Type ', 'Marital Status', 'Injury Type',
       'Overnight Hospital Stay'],
      dtype='object')

In [122]:
df['ID'] = df['ID'].astype('category')
df.dtypes

ID                         category
Insurance Type               object
Income of Policy Holder       int64
Marital Status               object
Num Claimants                 int64
Injury Type                  object
Overnight Hospital Stay      object
Claim Amount                  int64
Total Claimed                 int64
Num Claims                    int64
Num Soft Tissue             float64
% Soft Tissue               float64
Claim Amount Received         int64
Fraud Flag                    int64
dtype: object

In [123]:
df['Fraud Flag'] = df['Fraud Flag'].astype('category')
df.dtypes

ID                         category
Insurance Type               object
Income of Policy Holder       int64
Marital Status               object
Num Claimants                 int64
Injury Type                  object
Overnight Hospital Stay      object
Claim Amount                  int64
Total Claimed                 int64
Num Claims                    int64
Num Soft Tissue             float64
% Soft Tissue               float64
Claim Amount Received         int64
Fraud Flag                 category
dtype: object

In [124]:
for column in objectColumns:
    df[column] = df[column].astype('category')
    
df.dtypes

ID                         category
Insurance Type             category
Income of Policy Holder       int64
Marital Status             category
Num Claimants                 int64
Injury Type                category
Overnight Hospital Stay    category
Claim Amount                  int64
Total Claimed                 int64
Num Claims                    int64
Num Soft Tissue             float64
% Soft Tissue               float64
Claim Amount Received         int64
Fraud Flag                 category
dtype: object

In [125]:
categoryColumns = df.select_dtypes(['category']).columns
df[categoryColumns]

,ID,Insurance Type,Marital Status,Injury Type,Overnight Hospital Stay,Fraud Flag
0,1,CI,NaN,Soft Tissue,No,1
1,2,CI,NaN,Back,Yes,0
2,3,CI,Married,Broken Limb,No,0
3,4,CI,NaN,Serious,Yes,0
4,5,CI,NaN,Soft Tissue,No,1
5,6,CI,NaN,Broken Limb,Yes,0
6,7,CI,Single,Broken Limb,No,1
7,8,CI,NaN,Back,Yes,0
8,9,CI,NaN,Soft Tissue,No,0
9,10,CI,Married,Back,No,0
10,11,CI,NaN,Soft Tissue,No,1
11,12,CI,NaN,Broken Limb,No,1
12,13,CI,NaN,Soft Tissue,No,0
13,14,CI,NaN,Serious,Yes,0
14,15,CI,Married,Soft Tissue,No,1
15,16,CI,NaN,Broken Limb,Yes,0
16,17,CI,NaN,Back,Yes,0
17,18,CI,NaN,Broken Limb,No,0
18,19,CI,Divorced,Back,No,0
19,20,CI,NaN,Soft Tissue,No,1
20,21,CI,NaN,Back,Yes,0
21,22,CI,NaN,Back,No,0
22,23,CI,NaN,Broken Limb,Yes,1
23,24,CI,NaN,Soft Tissue,No,0
24,25,CI,NaN,Serious,Yes,0
25,26,CI,NaN,Soft Tissue,No,1
26,27,CI,NaN,Broken Limb,Yes,0
27,28,CI,Single,Back,No,0
28,29,CI,NaN,Soft Tissue,No,1
29,30,CI,NaN,Broken Limb,No,0
...,...,...,...,...,...,...
470,471,CI,NaN,Soft Tissue,No,0
471,472,CI,NaN,Back,No,0
472,473,CI,Single,Broken Limb,No,0
473,474,CI,NaN,Soft Tissue,No,0
474,475,CI,Married,Serious,Yes,0
475,476,CI,Married,Soft Tissue,Yes,1
476,477,CI,NaN,Back,Yes,0
477,478,CI,NaN,Back,Yes,0
478,479,CI,Married,Broken Limb,No,1
479,480,CI,NaN,Broken Limb,No,0
480,481,CI,NaN,Soft Tissue,No,1
481,482,CI,NaN,Broken Limb,No,0
482,483,CI,Single,Back,No,0
483,484,CI,NaN,Serious,Yes,1
484,485,CI,NaN,Broken Limb,No,1
485,486,CI,NaN,Soft Tissue,No,0
486,487,CI,NaN,Broken Limb,No,0
487,488,CI,NaN,Back,No,0
488,489,CI,Married,Back,No,0
489,490,CI,Divorced,Soft Tissue,No,1
490,491,CI,Single,Back,No,1
491,492,CI,NaN,Broken Limb,No,0
492,493,CI,NaN,Soft Tissue,Yes,0
493,494,CI,Married,Broken Limb,No,0
494,495,CI,NaN,Back,No,1
495,496,CI,NaN,Soft Tissue,No,1
496,497,CI,Married,Broken Limb,Yes,1
497,498,CI,NaN,Broken Limb,Yes,0
498,499,CI,Married,Broken Limb,No,0
499,500,CI,NaN,Broken Limb,No,1

In [126]:
df.select_dtypes(['category']).describe().T

                        count unique          top freq
ID                        500    500          500    1
Insurance Type            500      1           CI  500
Marital Status            170      3      Married   99
Injury Type               500      4  Broken Limb  177
Overnight Hospital Stay   500      2           No  354
Fraud Flag                500      2            0  332

In [127]:
df.mean()

ID                           250.500000
Income of Policy Holder    13739.994000
Num Claimants                  1.908000
Claim Amount               16373.204000
Total Claimed               9597.186000
Num Claims                     0.798000
Num Soft Tissue                0.234694
% Soft Tissue                  0.172012
Claim Amount Received      13051.942000
Fraud Flag                     0.336000
dtype: float64

In [128]:
df.mean()

ID                           250.500000
Income of Policy Holder    13739.994000
Num Claimants                  1.908000
Claim Amount               16373.204000
Total Claimed               9597.186000
Num Claims                     0.798000
Num Soft Tissue                0.234694
% Soft Tissue                  0.172012
Claim Amount Received      13051.942000
Fraud Flag                     0.336000
dtype: float64

In [129]:
df.std()

ID                           144.481833
Income of Policy Holder    20081.535489
Num Claimants                  1.012713
Claim Amount               29426.276960
Total Claimed              35655.686220
Num Claims                     2.666724
Num Soft Tissue                0.589635
% Soft Tissue                  0.428015
Claim Amount Received      30547.194864
Fraud Flag                     0.472812
dtype: float64

In [130]:
df.median()

ID                          250.5
Income of Policy Holder       0.0
Num Claimants                 2.0
Claim Amount               5663.0
Total Claimed                 0.0
Num Claims                    0.0
Num Soft Tissue               0.0
% Soft Tissue                 0.0
Claim Amount Received      3253.5
Fraud Flag                    0.0
dtype: float64

In [131]:
df.min()

ID                              1
Insurance Type                 CI
Income of Policy Holder         0
Num Claimants                   1
Injury Type                  Back
Overnight Hospital Stay        No
Claim Amount               -99999
Total Claimed                   0
Num Claims                      0
Num Soft Tissue                 0
% Soft Tissue                   0
Claim Amount Received           0
Fraud Flag                      0
dtype: object

In [132]:
df.max()

ID                                 500
Insurance Type                      CI
Income of Policy Holder          71284
Num Claimants                        4
Injury Type                Soft Tissue
Overnight Hospital Stay            Yes
Claim Amount                    270200
Total Claimed                   729792
Num Claims                          56
Num Soft Tissue                      5
% Soft Tissue                        2
Claim Amount Received           295303
Fraud Flag                           1
dtype: object

In [137]:
df.drop('Marital Status', axis=1) #axis=1 for column, 0 for row

ValueError: labels ['Marital Status'] not contained in axis

In [138]:
df.drop("ID", axis=1)

ValueError: labels ['ID'] not contained in axis

In [139]:
df.head(10)

,Insurance Type,Income of Policy Holder,Num Claimants,Injury Type,Overnight Hospital Stay,Claim Amount,Total Claimed,Num Claims,Num Soft Tissue,% Soft Tissue,Claim Amount Received,Fraud Flag
0,CI,0,2,Soft Tissue,No,1625,3250,2,2.0,1.0,0,1
1,CI,0,2,Back,Yes,15028,60112,1,0.0,0.0,15028,0
2,CI,54613,1,Broken Limb,No,-99999,0,0,0.0,0.0,572,0
3,CI,0,3,Serious,Yes,270200,0,0,0.0,0.0,270200,0
4,CI,0,4,Soft Tissue,No,8869,0,0,0.0,0.0,0,1
5,CI,0,1,Broken Limb,Yes,17480,0,0,0.0,0.0,17480,0
6,CI,52567,3,Broken Limb,No,3017,18102,2,1.0,0.5,0,1
7,CI,0,2,Back,Yes,7463,0,0,0.0,0.0,7463,0
8,CI,0,1,Soft Tissue,No,2067,0,0,NaN,0.0,2067,0
9,CI,42300,4,Back,No,2260,0,0,0.0,0.0,2260,0

In [148]:
df.columns['Insurance Type']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [1]:
df.rename(columns={0:})

SyntaxError: invalid syntax (<ipython-input-1-3bd6d86ebc44>, line 1)

In [149]:
df.columns

Index(['Insurance Type ', 'Income of Policy Holder', 'Num Claimants',
       'Injury Type', 'Overnight Hospital Stay', 'Claim Amount',
       'Total Claimed', 'Num Claims', 'Num Soft Tissue', '% Soft Tissue',
       'Claim Amount Received', 'Fraud Flag'],
      dtype='object')

In [150]:
df.drop('Insurance Type ',1)

,Income of Policy Holder,Num Claimants,Injury Type,Overnight Hospital Stay,Claim Amount,Total Claimed,Num Claims,Num Soft Tissue,% Soft Tissue,Claim Amount Received,Fraud Flag
0,0,2,Soft Tissue,No,1625,3250,2,2.0,1.000000,0,1
1,0,2,Back,Yes,15028,60112,1,0.0,0.000000,15028,0
2,54613,1,Broken Limb,No,-99999,0,0,0.0,0.000000,572,0
3,0,3,Serious,Yes,270200,0,0,0.0,0.000000,270200,0
4,0,4,Soft Tissue,No,8869,0,0,0.0,0.000000,0,1
5,0,1,Broken Limb,Yes,17480,0,0,0.0,0.000000,17480,0
6,52567,3,Broken Limb,No,3017,18102,2,1.0,0.500000,0,1
7,0,2,Back,Yes,7463,0,0,0.0,0.000000,7463,0
8,0,1,Soft Tissue,No,2067,0,0,NaN,0.000000,2067,0
9,42300,4,Back,No,2260,0,0,0.0,0.000000,2260,0
10,0,3,Soft Tissue,No,3481,31329,3,2.0,0.666667,0,1
11,0,1,Broken Limb,No,3640,18200,5,0.0,0.000000,0,1
12,0,4,Soft Tissue,No,858,0,0,0.0,0.000000,858,0
13,0,3,Serious,Yes,71940,0,0,0.0,0.000000,71940,0
14,50654,2,Soft Tissue,No,1893,5679,4,3.0,0.750000,0,1
15,0,1,Broken Limb,Yes,16822,0,0,0.0,0.000000,16822,0
16,0,4,Back,Yes,12030,0,0,0.0,0.000000,12030,0
17,0,2,Broken Limb,No,1943,7772,1,1.0,1.000000,1943,0
18,37435,2,Back,No,3071,6142,2,0.0,0.000000,3071,0
19,0,3,Soft Tissue,No,638,5742,3,3.0,1.000000,0,1
20,0,2,Back,Yes,37416,37416,1,0.0,0.000000,37416,0
21,0,3,Back,No,8688,729792,56,5.0,0.089286,8688,0
22,0,1,Broken Limb,Yes,12185,0,0,0.0,0.000000,0,1
23,0,1,Soft Tissue,No,1081,0,2,0.0,0.000000,1081,0
24,0,1,Serious,Yes,72000,144000,1,0.0,0.000000,72000,0
25,0,2,Soft Tissue,No,2390,0,0,0.0,0.000000,0,1
26,0,3,Broken Limb,Yes,7193,0,0,NaN,0.000000,7193,0
27,38179,2,Back,No,5212,10424,1,0.0,0.000000,5212,0
28,0,4,Soft Tissue,No,627,2508,4,2.0,0.500000,0,1
29,0,2,Broken Limb,No,2516,0,0,0.0,0.000000,2516,0
...,...,...,...,...,...,...,...,...,...,...,...
470,0,1,Soft Tissue,No,83756,1693,1,0.0,0.000000,83756,0
471,0,2,Back,No,6487,0,0,0.0,0.000000,5359,0
472,51570,1,Broken Limb,No,28953,0,0,0.0,0.000000,28953,0
473,0,1,Soft Tissue,No,7330,0,0,0.0,0.000000,12917,0
474,52665,2,Serious,Yes,3160,0,0,0.0,0.000000,3160,0
475,43162,1,Soft Tissue,Yes,6473,0,0,0.0,0.000000,0,1
476,0,1,Back,Yes,9722,6959,4,0.0,0.000000,9722,0
477,0,2,Back,Yes,5658,0,0,0.0,0.000000,5658,0
478,34820,2,Broken Limb,No,4435,0,0,0.0,0.000000,0,1
479,0,1,Broken Limb,No,33739,10608,1,NaN,0.000000,33739,0
480,0,2,Soft Tissue,No,38699,0,0,0.0,0.000000,0,1
481,0,1,Broken Limb,No,15736,0,0,0.0,0.000000,15736,0
482,41333,1,Back,No,9899,0,0,0.0,0.000000,10646,0
483,0,2,Serious,Yes,6110,0,0,0.0,0.000000,0,1
484,0,3,Broken Limb,No,2698,0,0,0.0,0.000000,0,1
485,0,2,Soft Tissue,No,2334,6006,1,0.0,0.000000,1353,0
486,0,2,Broken Limb,No,2791,0,0,0.0,0.000000,2791,0
487,0,1,Back,No,467,0,0,0.0,0.000000,467,0
488,41381,1,Back,No,5391,0,0,0.0,0.000000,5391,0
489,34756,1,Soft Tissue,No,2122,0,0,0.0,0.000000,0,1
490,40204,1,Back,No,75748,11116,1,0.0,0.000000,0,1
491,0,1,Broken Limb,No,6172,6041,1,0.0,0.000000,6172,0
492,0,1,Soft Tissue,Yes,2569,20055,1,NaN,0.000000,2569,0
493,31951,1,Broken Limb,No,5227,22095,1,0.0,0.000000,5227,0
494,0,2,Back,No,3813,9882,3,0.0,0.000000,0,1
495,0,1,Soft Tissue,No,2118,0,0,0.0,0.000000,0,1
496,29280,4,Broken Limb,Yes,3199,0,0,NaN,0.000000,0,1
497,0,1,Broken Limb,Yes,32469,0,0,0.0,0.000000,16763,0
498,46683,1,Broken Limb,No,179448,0,0,0.0,0.000000,179448,0
499,0,1,Broken Limb,No,8259,0,0,0.0,0.000000,0,1